<div>
  <div>
    <h2>
      Add a new recipe
    </h2>

    <form action="/insert_recipe" method="post">
      <div>

        <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%= @current_user.id %>">
      </div>

      <div>
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="query_category">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="string" id="description_box" name="query_description">
      </div>

      <div>
        <label for="length_to_make_box">
          Length to make
        </label>

        <input type="integer" id="length_to_make_box" name="query_length_to_make">
      </div>

      <div>
        <label for="picture_box">
          Picture
        </label>
        <textarea id="picture_box" name="query_picture" rows="3"></textarea>
      </div>

      <div>
        <label for="food_name_box">
          Food name
        </label>
        <input type="text" id="food_name_box" name="query_food_name">
      </div>

      <div>
        <label for="recipe_url_box">
          Recipe URL
        </label>
        <input type="text" id="recipe_url_box" name="query_recipe_url">
      </div>

      <button>
        Create recipe
      </button>
    </form>
  </div>
</div>
