<div>
  <div>
    <h1>
      List of all likes
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Recipe
        </th>

        <th>
          Creater of Recipe
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_likes.each do |a_like| %>
      <tr>


        <td>
          <%= a_like.recipe.food_name %>
        </td>

        <td>
          <%= a_like.user.full_name %>
        </td>

        <td>
          <a href="/recipes/<%= a_like.recipe.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
