<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome back <%= @current_user.full_name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Here are all of your personal recipes</h4>
      <ul class="list-group">
        <% @user_recipes.each do |a_recipe| %>
          <li class="list-group-item">
            <%= a_recipe.food_name %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Here are all of your liked recipes</h4>
      <ul class="list-group">
        <% @user_likes.each do |a_like| %>
          <li class="list-group-item">
            <%= a_like.recipe_id %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
